<div class="s-12 m-6 l-4 hotel-item">
    <hr>
    <h4><strong><%= hotel.hotelName %></strong> | 
      <% for(let i = 0; i < hotel.hotelStars; i++) { %>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% } %>
      <button class="button rounded-btn edit-btn"><a href="/admin/hotel/<%= hotel.id %>">Edit Hotel</a></button>
    </h4>
    <h6><span><%= hotel.country %></span> | <span><%= hotel.city %></span></h6>
          
  </div>