<!-- ASIDE NAV -->
<aside class="s-12 m-4 l-3">
  <div class="aside-nav minimize-on-small">
    <ul>
      <li>
          <h4>Filter by:</h4>
          <hr>
           <ul>
              <li>
                <label for="amount">Price range:</label>
                <div class="right">
                  <input type="text" id="amount" readonly>
                </div>
                <div id="slider-range"></div>
              </li>
              <li>
                <hr>
                <label>Country:</label>
                <div class="right">
                  <select name="cars">
                    <option value="romania">Romania</option>
                    <option value="bulgaria">Bulgaria</option>
                    <option value="germany">Germany</option>
                    <option value="spain">Spain</option>
                  </select>
                </div>
              </li>
              <li>
                <hr>
                <label>City:</label>
                <div class="right">
                  <select name="cars">
                    <option value="timisoara">Timisoara</option>
                    <option value="bucharest">Bucharest</option>
                    <option value="cluj">Cluj-Napoca</option>
                    <option value="iasi">Iasi</option>
                  </select>
                </div>
              </li>
              <li>
                <hr>
                <label>Amenties (Pets):</label>
                <div class="right">
                  <input type="checkbox" name="amenties" id="amenties">
                </div>
              </li>
              <li>
                <hr>
                <label class="stars-label">Stars:</label>
                <div class="right">
                  <ul class="filter-stars">
                    <li>
                      <label for="">1</label>
                      <input type="checkbox" name="stars" id="1">
                    </li>
                    <li>
                      <label for="">2</label>
                      <input type="checkbox" name="stars" id="1">
                    </li>
                    <li>
                      <label for="">3</label>
                      <input type="checkbox" name="stars" id="1">
                    </li>
                    <li>
                      <label for="">4</label>
                      <input type="checkbox" name="stars" id="1">
                    </li>
                    <li>
                      <label for="">5</label>
                      <input type="checkbox" name="stars" id="1">
                    </li>
                  </ul>
                </div>
                <hr>
              </li>
           </ul>
        </li>
     </ul>
  </div>
</aside>