      <!-- FOOTER -->
      <footer class="line">
        <div class="s-12 l-6">
           <p>Copyright 2017, thedevcat</p>
        </div>
        <div class="s-12 l-6">
           <a class="right" href="http://www.thedevcat.com" title="thedevcat - Quality WebDevelopment">Design and coding by thedevcat</a>
        </div>
     </footer>
     <script type="text/javascript" src="/js/responsee.js"></script>   
     <script src="/js/custom.js"></script>   
  </body>
</html>