<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Hotel Tonight</title>
      <link rel="stylesheet" href="/css/bootstrap.css">
      <link rel="stylesheet" href="/css/jquery-ui.css">
      <link rel="stylesheet" href="/css/components.css">
      <link rel="stylesheet" href="/css/icons.css">
      <link rel="stylesheet" href="/css/responsee.css"> 
      <link rel="stylesheet" href="/css/font-awesome.css">
      <link rel="stylesheet" href="/css/custom.css"> 
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script src="/js/popper.min.js"></script>
      <script src="/js/jquery-3.2.1.js"></script>
      <script src="/js/jquery-ui.js"></script>
      <script src="/js/bootstrap.js"></script>
   </head>
   <body class="size-1280">
    <!-- HEADER -->
    <header>
       <div class="line">
          <div class="box">
             <div class="s-6 m-6 l-3"> 
                <a href="#"><img src="/img/hotel-tonight-logo.png"></a> 
             </div>
             <div class="s-12 m-6 l-8 right">
                <div class="margin">
                   <form  class="customform s-12 l-8" method="get" action="http://google.com/">
                      <div class="s-9"><input type="text" placeholder="Search for Hotel" title="Search for hotel" /></div>
                      <div class="s-3"><button type="submit">Search</button></div>
                   </form>
                </div>
             </div>
          </div>
       </div>
       <!-- TOP NAV -->  
       <div class="line content">
          <nav>
             <div class="top-nav s-12 l-12">
                <ul>
                   <li class="left"><a href="/">Home</a></li>
                   <li class="middle"><div class="scroll-right">
                      <p>Last hotel to be added is Continental Hotel in Romania - Timisoara.</p>
                      </div></li>
                   <li class="right"><a>Contact</a></li>
                </ul>
             </div>
          </nav>
       </div>
    </header> 