<div class="s-12 m-6 l-4 hotel-item">
  <hr>
  <h4><strong>Continental Hotel</strong> | 
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
  </h4>
  <h6>Romania | Timisoara</h6>
  <ul class="hotel-item-content">
    <li class="item-image">
      <img src="img/330x190_1.jpg">
      <div class="hotel-item-links">
        <button class="button rounded-btn submit-btn submit-btn-visit"><a href="">Visit Hotel Website</a></button>
        <button class="button rounded-btn submit-btn submit-btn-info"><a href="">More Hotel info</a></button>
      </div>
    </li>
    <li class="item-text">
      <p>North Star Continental Resort pune la dispozitia dumneavoastra o gama de servicii complete: 164 de camere moderne si confortabile, 
        3 restaurante cu specific international si romanesc, Centrul de conferinte ultra-modern, Terasa Miami cu piscina de exterior, Lobby Bar, 
        noul salon de infrumusetare si intretinere corporala – Continental Beauty, Night Club Galaxy, Centru de forta si fitness, Rent a Car, si Casino Valoro .</p>
    </li>
  </ul>
</div>