<% include components/header.ejs %>

<div class="container-fluid">
  <div class="row">
    <%- include('components/admin-bar.ejs', {}); %>
    <div class="col-md-9">
      <div class="content">
        
      </div>
    </div>
  </div>
</div>

<% include components/footer.ejs %>