<% include components/header.ejs %>

<!-- ASIDE NAV AND CONTENT -->
<div class="line">
  <div class="box">
     <div class="margin2x">
        <!-- CONTENT -->
        <section class="s-12 m-10 l-9 right">
           <h1>Hotels</h1>
           <div class="margin">
             <% for(let hotel in hotels) { %>
              <%- include('components/hotel-item.ejs', {hotel: hotels[hotel]}); %>
            <% } %>
           </div>
        </section>
      <%- include('components/filter-bar.ejs', {}); %>
    </div>
  </div>
</div>

<% include components/footer.ejs %>