/* ul {
  list-style: none;
  padding: 0;
} */

/* Filter Bar */
/* .filter-bar, .admin-bar {
  padding: 20px;
  background: lightblue;
  height: 90vh;
}

.admin-bar {
  min-width: 15vw;
  text-align: center;
} */

/* #change-pass {
  overflow: hidden;
  font-size: 0.9em;
}

#amount {
  width: 60%;
  background: lightblue;
  border: 0;
}

.hidden {
  display: none;
} */

